.text {
  color: white;
  margin-top: 40px;
}

.card-white {
  margin-top: 250px;
}
.card-white-top {
  background-color: white;
  padding: 10px;
}

// .card-white-img {
//   background-image: url();
//   background-size: cover;
//   height: 20vh;
//   text-align: center;
//   padding-top: 40vh;
// }

.li {
    display: list-item;

}

.fa-eye:before {
    content: "\f06e";
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

.card-white-top .list-inline {
  padding-top: 10px;
  color: #B0B0B0;
  text-align: right;
}

.list-inline li {
  display: inline-block;
}

.page-down-footer {
  min-height: calc(100vh - 96px);
  margin: 12px;
}

.container {
  margin-top: 30px;
  padding-left: 23px;
}

.form-where-we-go {
  margin-top: 80px;
}

.form-where-we-go h3 {
  color: white;
  font-size: 18px;
}

.background-home {
  background-image: url('leaves.jpg');
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  height: 100vh;

}

.btn-success {
  display: flex;
  justify-content: center;
}

