.text {
  color: white;
  margin-top: 40px;
}

.card-white {
  margin-top: 250px;
}
.card-white-top {
  background-color: white;
  padding: 10px;
}

.li {
    display: list-item;

}

.fa-eye:before {
    content: "\f06e";
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

.card-white-top .list-inline {
  padding-top: 10px;
  color: #B0B0B0;
  text-align: right;
}

.list-inline li {
  display: inline-block;
}

.page-down-footer {
  margin-top: 64px;
// margin: 12px;

}

.container-first-screen {
  padding-left: 23px;
  padding-right: 23px;
  height: calc(100vh + 65px);
}

.container-first-screen h1 {
  color: white;
  padding-top: 40px;
}

.form-where-we-go {
  margin-top: 100px;
}

.form-where-we-go h3 {
  color: white;
  font-size: 18px;
}

.background-home {
  background-attachment:fixed;

}

.btn-success {
  display: flex;
  justify-content: center;
}

.form-where-we-go {
  margin-top: 80px;
}


.carousel-container {
  margin-left: 23px;
  margin-right: 23px;
  height: 70vh;
}
