<div class="navbar navbar-expand-sm navbar-light navbar-begreen">
  <%= link_to root_path, class: "navbar-logo" do %>
    <%= image_tag "begreenlogo3.png" %>
  <% end %>

  <div class="navbar-right-side">
    <%= link_to dashboard_path, class: "avatar" do %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/estellescavennec", class: "avatar" %>
    <% end %>
  </div>
</div>
