<div class="navbar navbar-expand-sm navbar-light navbar-begreen">
  <%= link_to "#", class: "navbar-logo" do %>
    <%= image_tag "begreenlogo.png" %>
  <% end %>

  <div class="navbar-right-side">
    <p>Home</p>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/estellescavennec", class: "avatar" %>
  </div>
</div>




