
<h3> Transport Mode </h3>

<div class="progress" style="height: 30px;">
  <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
     <h4>Walk</h4>
  </div>
  <div class="progress-pc" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
     0%
  </div>
</div>


<div class="progress" style="height: 30px;">
  <div class="bg-success" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:5%">
    <h4>Bycicle</h4>
  </div>
  <div class="progress-pc">
    10%
  </div>

</div>


<div class="progress" style="height: 30px;">
  <div class="bg-info" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 10%;" >
    <h4>Transport</h4>
  </div>

  <div class="progress-pc"  aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"  >
    15%
  </div>
</div>

<div class="progress" style="height: 30px;">
  <div class="bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="60" style="width: 40%;">
    <h4>Car</h4>
  </div>
  <div class="progress-pc" aria-valuenow="40" aria-valuemin="0" aria-valuemax="60">
    40%
  </div>
</div>
