<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-info"></i>  Infos</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fas fa-bicycle"></i>   Journeys</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="fas fa-trophy"></i>  Partners</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="fas fa-user-friends"></i>  Community</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="first-row-infos-circle">
        <div class="circle-card-picto"><i class="fas fa-road"></i></div>
        <div class="circle-card-picto"><i class="fas fa-crown"></i></div>
    </div>
    <div class="first-row-infos-text">
        <div class="text-card">Vous avez parcouru 60 kms</div>
        <div class="text-card"> Vous êtes un super BGreen</div>
    </div>
    <div class="first-row-infos-circle">
        <div class="circle-card-picto"><i class="fas fa-leaf"></i></div>
        <div class="circle-card-picto"><i class="fas fa-print"></i></div>
    </div>
    <div class="first-row-infos-text">
        <div class="text-card">Vous avez parcouru 60 kms</div>
        <div class="text-card"> Vous êtes un super BGreen</div>
    </div>
    <div class="first-row-infos-circle">
        <div class="circle-card-picto"><i class="fas fa-walking"></i></div>
        <div class="circle-card-picto"><i class="fas fa-trophy"></i></div>
    </div>
    <div class="first-row-infos-text">
        <div class="text-card">Vous avez parcouru 60 kms</div>
        <div class="text-card"> Vous êtes un super BGreen</div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">lili</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">lala</div>
</div>



