<div class="menu-dashboard-catgories-icons">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="infos-tab" data-toggle="tab" href="#infos" role="tab" aria-controls="infos" aria-selected="true"><i class="fas fa-info"></i>  Infos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="journeys-tab" data-toggle="tab" href="#journeys" role="tab" aria-controls="journeys" aria-selected="false"><i class="fas fa-bicycle"></i>   Journeys</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="parternship-tab" data-toggle="tab" href="#parternship" role="tab" aria-controls="partnership" aria-selected="false"><i class="fas fa-trophy"></i>  Partners</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" id="Community-tab" data-toggle="tab" href="#community" role="tab" aria-controls="community" aria-selected="false"><i class="fas fa-user-friends"></i>  Community</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="infos" role="tabpanel" aria-labelledby="infos-tab">
    Ici les infos
  </div>
  <div class="tab-pane fade" id="journeys" role="tabpanel" aria-labelledby="journeys-tab">Ici l'historique des trajets</div>
  <div class="tab-pane fade" id="parternship" role="tabpanel" aria-labelledby="parternship-tab">Ici les partenaires </div>
  <div class="tab-pane fade" id="community" role="tabpanel" aria-labelledby="community-tab">Ici la communauté avec les réseaux</div>
</div>
</div>


