<!-- Ici tous les pictos de la vue infos du dashboard -->

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="first-row-infos-circle">
      <div class="circle-card-picto">
        <i class="fas fa-road"></i>
      </div>
      <div class="circle-card-picto">
        <i class="fas fa-crown"></i>
      </div>
    </div>
    <div class="first-row-infos-text">
      <div class="text-card-1"> 60kms</div>
      <div class="text-card-2"> Bgreen</div>
    </div>
    <div class="second-row-infos-text">
      <div class="text-card"> Traveled</div>
      <div class="text-card">Status</div>
    </div>
    <div class="first-row-infos-circle">
      <div class="circle-card-picto"><i class="fas fa-leaf"></i></div>
      <div class="circle-card-picto"><i class="fas fa-print"></i></div>
    </div>
    <div class="first-row-infos-text">
      <div class="text-card-1">1Kg</div>
      <div class="text-card-2"> 158 </div>
    </div>
    <div class="second-row-infos-text">
      <div class="text-card"> CO2 saved</div>
      <div class="text-card">Journeys</div>
    </div>
    <div class="first-row-infos-circle">
      <div class="circle-card-picto"><i class="fas fa-walking"></i></div>
      <div class="circle-card-picto"><i class="fas fa-trophy"></i></div>
    </div>
    <div class="first-row-infos-text">
      <div class="text-card-1"> 20kms </div>
      <div class="text-card-2"> 355 </div>
    </div>
    <div class="second-row-infos-text">
      <div class="text-card">challenge</div>
      <div class="text-card">Bgreenor</div>
    </div>
  </div>
  <!-- Ici la vue de l'historique des trajets  -->
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="accordion" id="accordionJourney">
      <% @user.journeys.each do |journey| %>
        <%= render "shared/card", journey: journey %>
      <% end %>
    </div>
  </div>



  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <canvas id="lineChart" width="200" height="250"></canvas>
  </div>
</div>

















  <!-- </div> -->
