
.i {
  //font-family:tahoma, sans-serif;
}


h1 {
  //font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #4DAA57;
  text-align: center;

}

h2 {

  //font-family:tahoma, sans-serif;

  font-size: 8px;
  color: #4DAA57;
}

h3 {

  //font-family:tahoma, sans-serif;

  font-size: 17px;
  color:  #4DAA57;
}

.title-transport {
  margin-left: 30px;
  font-size: 24px;
}

h4 {
  font-family:tahoma, sans-serif;
  font-size: 14px;
  color:  #4DAA57;
}

h5 {
  font-family:tahoma, sans-serif;
  font-size: 12px;
  color:  #4DAA57;
}

li {
  color: #808080;

}

i {
  color: #7CA982;
}

.container h1 {
  color: white;
  padding-top: 30px;
}

.progress h4 {
  font-family:tahoma, sans-serif;
  font-size: 18px;
  color:  black;
  margin: 6px;


}

.progress-pc {
  position: absolute;
  right: 1%;
  width: 18%;
  font-family:tahoma, sans-serif;
  font-size: 14px;
  color:  black;
}


