.i {
  //font-family:tahoma, sans-serif;
}

h1 {
  //font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #4DAA57;
  text-align: center;

}

h2 {
  //font-family:tahoma, sans-serif;
  font-size: 8px;
  color: #4DAA57;
}

h3 {
  //font-family:tahoma, sans-serif;
  font-size: 17px;
  color:  #4DAA57;
}

li {
  color: #808080;

}

i {
  color: #7CA982;
}

.container h1 {
  color: white;
  padding-top: 30px;
}



