
h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #4DAA57;
  text-align: center;

}

h2 {
  font-size: 8px;
  color: #4DAA57;
}

h3 {
  font-size: 17px;
  color:  #4DAA57;
}

h4 {
  font-family:tahoma, sans-serif;
  font-size: 14px;
  color:  #4DAA57;
}

h5 {
  font-family:tahoma, sans-serif;
  font-size: 12px;
  color:  #4DAA57;
}

li {
  color: #808080;

}

i {
  color: #7CA982;
}



