.carousel-caption p {
  background-color: white;
  color : black;
}

.carousel-caption {
  position: sticky;
  bottom: 21px;
  z-index: 10;
  // padding-top: 20px;
  // padding-bottom: 20px;
  color: #fff;
  text-align: center;
  width: 100%;
}

// .carousel-control-prev-icon {
//   color: green;
// }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 41px;
  font-weight: 500;
  color: #000000;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 41px;
  font-weight: 500;
  color: #000000;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: -134px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    transition: opacity 0.15s ease;
}


#carousel-home-controls {
  top: 0px;
  bottom: 100px;
}
