.menu-dashboard-catgories-icons {
  background : white;
 }

.nav-link {
  border-radius: 8px;
  font-size: 10px;
  color: #4DAA57;
}

.nav-tabs {
  height: 50px;
  background : white;
}

i {
  color: #7CA982;
  font-size: 15px;
}

// fond vert
.tab-pane {
  justify-content: space-around;
  align-items: center;
  height: 700px;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  background: #E1F4E8;
  border-radius: 12px;
}

//cercle avec les logos blancs

.first-row-infos-circle {
  display: flex;
  justify-content: space-between;
  margin-top :49px;
  padding: 22px 32px;
  font-size :12px;
}

//  pictogrammes
.circle-card-picto {
  background: white;
  background-position: absolute;
  height : 100px;
  width: 100px;
  border-radius: 150px;
  padding: 20px;
  justify-content: center;
    i {
    font-size: 32px;
    color: #69B578;
      }
}

// infos grand grad
.first-row-infos-text {
    display: flex;
    justify-content: space-between;
    background-position: relative;
    margin-top: -74px;
    padding: 10px 40px;
    font-family: tahoma, sans-serif;
    font-weight: 533px;
    font-size: 21px;
    line-height: 9px;
    text-align: center;
    color: #6B6770;
    margin-left: -3px;
    font-weight: 400;
}

// infos petit
.second-row-infos-text {
    display: flex;
    justify-content: space-between;
    background-position: relative;
    margin-top: -51px;
    padding: 5px 56px;
    font-family: tahoma, sans-serif;
    font-weight: 500px;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #6B6770;
    margin-right: -35px;
}

// container

.container-historical-journey {
  border-radius: 35px;
}
.button-link-journey:hover {
  text-decoration: none !important;
  color: #69B578;
}

.card-body {
  i {
    color:#69B578;
    margin-bottom: 10px;
  }
}

.way {
  padding: 12px;
  margin-left: 63px;
}

.starting-point-journey-historical {
  display: flex;
  justify-content: space-between;
  padding: 38px 71px;
  line-height: 13px;
  text-align: center;
  margin-top: -57px;
  margin-bottom: -38px;
  color: #6B6770;
}

.starting-point {
      margin-top: 10px;
      font-size: 15px;
    }
.ending-point {
      margin-top: 10px;
      font-size: 15px;
      padding: -4px;
    }

.ending-point-journey-historical {
    display: flex;
    justify-content: space-between;
    padding: 31px 71px;
    line-height: 12px;
    text-align: center;
    margin-bottom: -46px;
    margin-top: -45px;
    color: #6B6770;
}

.text-card-1 {
  background: #D2FCD1;;
  height : 80px;
  width: 80px;
  margin-left:24px;
  border-radius: 150px;
  box-shadow: 4px 7px 11px white;
  padding: 20px;
  justify-content: center;
    i {
    font-size: 32px;
    color: #69B578;
      }
}

.text-card-2 {
  background: #D2FCD1;;
  height : 80px;
  width: 80px;
  border-radius: 150px;
  padding: 20px;
  margin-right:-26px;
  box-shadow: 4px 7px 11px white;
  justify-content: center;
    i {
    font-size: 32px;
    color: #69B578;
      }
}





