.menu-dashboard-catgories-icons {
  background : white;
 }

.nav-link {
  border-radius: 8px;
  font-size: 10px;
  color: #4DAA57;
}

.nav-tabs {
  height: 50px;
  background : white;
}

i {
  color: #7CA982;
  font-size: 15px;
}

.tab-pane {
  justify-content: space-around;
  align-items: center;
  height: 700px;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  background: #E1F4E8;
  border-radius: 12px;
}

.first-row-infos-circle {
  display: flex;
  justify-content: space-between;
  margin-top :20px;
  padding: 22px 49px;
}

.circle-card-picto {
  background: white;
  height : 70px;
  width: 70px;
  border-radius: 150px;
  padding: 16px;
  justify-content: center;
    i {
    font-size: 32px;
    color: #69B578;
      }
}

.first-row-infos-text {
  display: flex;
  justify-content: space-between;
  margin-top :0px;
  padding: 5px 56px;
  font-family:tahoma, sans-serif;
  font-weight: 500px;
  font-size: 18px;
 line-height: 12px;
 text-align: center;
 color: #6B6770;
}

.second-row-infos-text {
  display: flex;
  justify-content: space-between;
  margin-top :0px;
  padding: 8px 42px;
  font-family:tahoma, sans-serif;
  font-weight: 500px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #6B6770;
}

.container-historical-journey {
  border-radius: 35px;
}
.button-link-journey:hover {
  text-decoration: none !important;
  color: #69B578;
}

.card-body {
  i {
    color:#69B578;
    margin-bottom: 10px;
  }
}

.way {
  padding: 12px;
  margin-left: 63px;
}

.starting-point-journey-historical {
  display: flex;
  justify-content: space-between;
  padding: 38px 71px;
  line-height: 13px;
  text-align: center;
  margin-top: -57px;
  margin-bottom: -38px;
  color: #6B6770;
}

.starting-point {
      margin-top: 10px;
      font-size: 15px;
    }
.ending-point {
      margin-top: 10px;
      font-size: 15px;
      padding: -4px;
    }

.ending-point-journey-historical {
    display: flex;
    justify-content: space-between;
    padding: 31px 71px;
    line-height: 12px;
    text-align: center;
    margin-bottom: -46px;
    margin-top: -45px;
    color: #6B6770;
}

