.menu-dashboard-catgories-icons {
  background : white;
 }

//navbar du dashboard
.nav-link {
  border-radius: 8px;
  font-size: 13px;
  color: white;
  font-weight: bold;
}

.nav-tabs {
  height: 50px;
  background: #4CAF50;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: white;
    background-color: #4CAF50;
    border-color: #4CAF50 #4CAF50 #4CAF50;
    font-weight: bold;
    margin-left: 31px;

}
nav i {
  color: white;
  font-size: 22px;
}

// fond vert
.tab-pane {
  justify-content: space-around;
  align-items: center;
  height: 700px;
  margin-right: 6px;
  margin-top: -69px;
  margin-left: 6px;
  display: flex;
  background: white;
  border-radius: 12px;
  height: 522px;

}

//cercle avec les logos blancs

.first-row-infos-circle {
  display: flex;
  justify-content: space-between;
  margin-top :49px;
  padding: 22px 32px;
  font-size :12px;
}

//  pictogrammes
.circle-card-picto-1 {
  background: white;
  background-position: absolute;
  border: 1px solid #249D50;
  height : 88px;
  border-color: green;
  width: 145px;

  margin-left: -29px;
  width: 242px;
  padding: 20px;
  justify-content: center;
    i {
    font-size: 32px;
    color: #69B578;
      }

}

.circle-card-picto-2 {
  background: white;
  background-position: absolute;
  border: 1px solid #249D50;
  height : 88px;
  border-color: green;
  width: 145px;
  margin-left: 125px;
  width: 149px;
  padding: 20px;
  justify-content: center;
    i {
    font-size: 32px;
    color: #69B578;
      }

}










.fa-leaf:before {
    font-size: 45px;
  }

// infos grand grad
.first-row-infos-text {
    display: flex;
    justify-content: space-between;
    margin-top: -74px;
    padding: 10px 40px;
    font-size: 21px;
    line-height: 9px;
    text-align: center;
    color: #54AF0A;
    margin-left: -3px;
    font-weight: 400;
    margin-bottom: 37px;
}

// infos petit
.second-row-infos-text {
    display: flex;
    justify-content: space-between;
    background-position: relative;
    margin-top: -51px;
    padding: 5px 56px;
    font-family: tahoma, sans-serif;
    font-weight: 500px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #54AF0A;
    margin-right: -25px;
    margin-top: -96px;
}

// container

.container-historical-journey {
  border-radius: 35px;
}
.button-link-journey:hover {
  text-decoration: none !important;
  color: #69B578;
}

.card-body {
  .fa-circle:before {
    margin-left: -53px;
    color:#69B578;
    margin-bottom: 10px;

  }
}

.way {
  padding: 12px;
  margin-left: 63px;
}

.accordion > .card:first-of-type {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.accordion > .card:last-of-type {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.starting-point-journey-historical {
  display: flex;
  justify-content: space-between;
  padding: 34px 18px;
  line-height: 13px;
  text-align: center;
  margin-top: -57px;
  margin-bottom: -38px;
  color: #6B6770;
}

.ending-point-journey-historical {
    display: flex;
    justify-content: space-between;
    padding: 34px 18px;
    line-height: 12px;
    text-align: center;
    margin-bottom: -46px;
    margin-top: -45px;
    color: #6B6770;
}
.starting-point {
      margin-top: 10px;
      font-size: 15px;
    }
.ending-point {
      margin-top: 10px;
      font-size: 15px;
      padding: -4px;
    }


.text-card-1 {
  background: #D2FCD1;;
  height : 90px;
  width: 90px;
  margin-left:24px;
  border-radius: 150px;
  box-shadow: 4px 7px 11px white;
  font-weight: bolder;
  padding: 24px 9px;
  justify-content: center;
    i {
    font-size: 32px;
    color: #A4B8C4;
      }
}

.text-card-2 {
  background: #D2FCD1;;
  height : 90px;
  width: 90px;
  border-radius: 150px;
  padding: 24px 9px;
  margin-right:-26px;
  font-weight: bolder;
  box-shadow: 4px 7px 11px white;
  justify-content: center;
    i {
    font-size: 32px;
    color: #A4B8C4;
      }
}


.body {
  background-color: green;
}

.text-card {
  font-size: 12px;
  color: #8B9BA5;
  margin-top: -45px;
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 12px;
}

.travel-mode-journey-historical {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  margin: 28px 34px -12px;
  color: #6B6770;

}

.fa-grip-lines-vertical:before {
    margin-left: -12px;
    margin-top: 50px;
}

.progress {
  margin-top: 15px;
}
