.card-recap-journey {
  justify-content: space-around;
  align-items: center;
  height: 40px;
  margin-right: 20px;
  margin-bottom : 10px;
  margin-top : 20px;
  margin-left: 20px;
  display: flex;
  background: white;
  border-radius: 8px;
}

.journey-detail-card {
  margin-top : 20px;
  margin-left: 20px;
  margin-right: 20px;
  background: white;
  border-radius: 8px;
  list-style-type: none;
  text-align: center
}

.detail-card {
  border-bottom: solid;
  border-bottom-color: #B5DDA4;

  .fa-leaf {
    size: 20px;
  }
}

.btn-detail {
  border-radius: 12px 0 12px 0;
  border: solid #b5dda4 1px;
  padding: 10px !important;
  margin-bottom: 16px;
  font-family: tahoma, sans-serif;
  margin-bottom: 32px;
  background-color: #69c574;
  color: white;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.green-journey {
  color: #0d0000;
  margin-bottom: 16px;

  i {
    transition: transform .3s ease;
  }

  &.collapsed {
    i {
      transform: rotate(180deg);
    }
  }
}

.steps-details {
  width: 100%;
  margin: 10px 0;
}
