.form-wrapper {
 float: right;
}

.background-new {
  height:100vh;
 }


.btn-add {
  font-family:tahoma, sans-serif;
  font-size: 18px;
  background-color: #C1C4C9;
  margin: 6px;
  opacity: 0.8;

}

