.form-wrapper {
 float: right;
}

.background-new {
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
 }


.btn-add {
  font-family:tahoma, sans-serif;
  font-size: 18px;
  background-color: #C1C4C9;
  margin: 6px;
  opacity: 0.8;

}

.btn-new {
  border-radius:12px 0 12px 0;
  border:none;
  color:#0E0000;
  font-family:tahoma, sans-serif;
  padding:1px 0 6px 0;
  border: 1px solid #249D50;
  position: relative;
  left: 5%;
}


