// .d-flex {
//   display: flex;
//   border-bottom: 15px;
//   padding: 15px;
//   text-align: center;
//   width: fit-content;
// }
.allpage {
  background: #f5f5f5;
  min-height: calc(100vh - 96px);
  padding: 16px;

}

.way-to-go {
  margin-top: 12px;
}

.all-propositions p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align-last: auto;
  size: 24px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  line-height:35px;
  text-align: center;

}


// .list-group-item {
//   position: relative;
//   display: block;
//   padding: 0.75rem 1.25rem;
//   margin-bottom: -1px;
//   background-color: #fff;
//   border: 1px solid rgba(0, 0, 0, 0.125);
//   width: 200px;
//   border-color: yellowgreen;

// }

.btn-outline-success {
  color: black;
  border: 1px solid #EDEDED;
  margin-top: 40px;
  border-radius: 4px;
}

.btn-outline-success-two {
  color: forestgreen;
  border-color: forestgreen;
  margin-top: 6px;
  background-color: white;
  border-radius: 5px;
}


.journey-options-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  //border: 1px solid #EDEDED;
  position: relative;
  background: white;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;



  button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent !important;
    // border: transparent !important;
    margin-top: 0;
    padding: 10px;
    padding-right: 20px;
    display: flex;

  }

  .journey-options-distance {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    flex: 15%;
  }

  .journey-options-footprint {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    flex: 20%;
  }

  .journey-options-duration {
    color: #000000;
    font-size: 14px;
    flex: 30%;
  }

  .journey-options-mode-green  {
    background: #249D50;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
  }

  .journey-options-mode-red {
    background: #FF6161;
    border-radius: 8px;
  }

  .journey-options-mode-orange {
    background: #fb7c31;
    border-radius: 8px;
  }
}

.label-card p {
  width: inherit !important;
  height: inherit !important;
  display: block !important;
  font-size: 12px !important;
}

.journey-options-card p.transport {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  margin: 8px;
  flex: 10%;
  margin-right: 16px;
  font-size: 24px;
}

.journey-options-card i {
  color: white;
  size: 20px;
}

.journey-info span {
  color: #cecaca;
  margin-right: 20px;
}

.journey-info {
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 5px;
}

.label-card {
  background: transparent;
  color: grey !important;
  height: 20px;

}



