.menu-dashboard-catgories-icons {
  background : #D1EFD0;
 }

.nav-link {
  border-radius: 8px;
  font-size: 10px;
  color: #4DAA57;
}

.nav-tabs {
  height: 50px;
}

i {
  color: #7CA982;
  font-size: 15px;
}

.nav-item {

}
