<div class="fake-map" style="width: 18rem;">
<%= image_tag "mapparis.jpg" %>
</div>
  <div class="journey-detail">
    <h5 class="journey-detail-title">Détail de votre trajet</h5>
     <ul class="list-way">
            <li><i class="fas fa-subway"></i>90 minutes</li>
            <li><i class="fas fa-walking"></i>123 minutes</li>
            <li><i class="fas fa-bicycle"></i>306</li>
          </ul>
    <a href="#" class="btn btn-outline-success">On y go</a>
  </div>
</div>

